<% layout('layout') -%>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<h1 style="font-size:40px;">
					<%= title %>
				</h1>
			</div>
			<%- body %>
		</div>
	</div>	
</div>
