<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>

		<script src="/js/lib/jquery-1.10.2.js"></script>			 <!-- jquery -->
		<meta name="viewport"
					content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet"></link>
		<script src="/js_lib/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="/js_lib/bootstrap.min.js"></script>
		<script src="/js_lib/d3.min.js"></script>
		<meta charset="utf-8">

  </head>
  <body  style="background-color:#fff;">

		<nav class="navbar navbar-default bs-docs-nav" role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Home</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/views/tree">Pedigree Tree</a></li>
						<li><a href="/views/add-member">Add Member</a></li>
						<li><a href="#">Link 3</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<% if(!currentUser){ %>
						<li><a href="/login">Log in</a></li>
						<%} else {%>
						<li><a><%= currentUser.username%></a></li>
						<%}%>
						
					</ul>
					
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


		
			<%- body %>  
		
		
    
  </body>
</html>
