<% layout('layout-content-container-no-sidebar') -%>

<style type="text/css">


 .node circle {
   cursor: pointer;
   fill: #fff;
   stroke: steelblue;
   stroke-width: 1.5px;
 }

 .node text {
   font-size: 11px;
 }

 path.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
 }

</style>

<div id="body">

</div>

<script language="javascript" src="/js_app/jquery.js"></script>
<script language="javascript" src="/js_app/d3.js"></script>
<script language="javascript" src="/js_app/render_tree.js">
</script>
