<% layout('layout-content-container-no-sidebar') -%>

<style type="text/css">


 .node circle {
   cursor: pointer;
   fill: #fff;
   stroke: steelblue;
   stroke-width: 1.5px;
 }

 .node text {
   font-size: 11px;
 }

 path.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
 }

</style>

<div class="row">
  <div class="col-md-12">
    <div class="form-inline">
      <div class="checkbox">
        <label>
          <input id="zoom-enable" name="zoom-enable" type="checkbox">
          Enable Zoom
        </label>
      </div>
      <button id="reset-zoom" name="reset-zoom" class="btn btn-default">
        Reset Zoom
      </button>
    </div>
  </div>
</div>

<hr/>

<div id="tree-body">
</div>

<script language="javascript" src="/js_app/lib/d3.min.js"></script>
<script language="javascript" src="/js_app/render_tree.js">
</script>
