<% layout('layout-content-container-no-sidebar') -%>

<style type="text/css">


 .node circle {
   cursor: pointer;
   fill: #fff;
   stroke: steelblue;
   stroke-width: 1.5px;
 }

 .node image {
   cursor: pointer;
 }

 .node text {
   font-size: 11px;
 }

 path.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
 }

</style>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalPersonTitle"></h4>
      </div>
      <div class="modal-body">

        <!-- progress bar -->
        <div class="progress progress-striped active" id="modalProgressBar">
          <div class="progress-bar"  role="progressbar"
               aria-valuenow="100" aria-valuemin="0"
               aria-valuemax="100" style="width: 100%">
            <span>Loading data</span>
          </div>
        </div>

        

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-inline">
      <div class="checkbox">
        <label>
          <input id="zoom-enable" name="zoom-enable" type="checkbox">
          Enable Zoom
        </label>
      </div>
      <button id="reset-zoom" name="reset-zoom" class="btn btn-default">
        Reset Zoom
      </button>
    </div>
  </div>
</div>

<script language="javascript">
 // retrieve the root id from the query string
 var rootIdQuery = null;
 <% if (rootId) { %>
                  rootIdQuery = <%= rootId %>;
                  <% } %>
</script>

<hr/>

<div id="tree-body">
</div>

<script language="javascript" src="/js_app/d3.min.js"></script>
<script language="javascript" src="/js_app/render_tree.min.js">
</script>
